#mainNav {
  background-color: #33B1FA;
  color: white;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  margin-bottom: 10px;

  & ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;

    & li {
      width: 25%;
      height: 100%;
      & a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover{
          background-color: #4385BF;
        }

        &:active{
          background-color: #09073F;
        }
      }
    }
  }
}
